# SERVER IGNORE
/node_modules
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.npmrc
.vscode
.prettierrc.yml
